<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="Test/bootstrap.php"
>
    <php>
        <server name="SERVER_NAME" value="example.com" />
        <server name="SCRIPT_NAME" value="/blog/index.php" />
    </php>
    <!--logging>
        <log type="coverage-html" target="./reports/coverage_html/" title="CakeBlogDemo" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-source" target="./Test"/>
        <log type="coverage-clover" target="./reports/coverage.xml"/>
        <log type="junit" target="./reports/unittest.xml" logIncompleteSkipped="false"/>
    </logging-->
</phpunit>
